**/hyperledger_data/*
**/*.block
**/*.tx
**/*.swp
**/ca_data_dir/**
**/ca_data_dir
**/ca_client_data/**
**/ca_client_data
/.idea
.idea/
**/tomcat_docker_data/**
**/nginx_data/**
**/vendor/**
*.exe
.gitignore
